.wrapper {
    background-color:  #0F1C2C;
}

.about {
    padding: 5px;
    margin-left: 50px;
    width: 30rem;
    height: 90vh;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 10;
    border-left: 3px solid #0F1C2C ;
   }

@media screen and (max-width: 800px) {
    .about {
        width: 95%;
        height: fit-content;
        margin-left: 0;
        background:  rgb(0, 0, 0, 0.5);
        color: aliceblue;
    }
    .skills {
        flex-direction: column;
        /* flex-wrap: wrap; */
    }    

    .ds {
        width: 400px;
    }
    .comms {
        width: 100%;
    }

    .pimg1 {
        margin-top: calc(-50vh);
    }
    
}

.ds {
    background-color: #0F1C2C;
    width: 33%;
}

.comms {
    background-color: #213951;
    width: 33%;
}

.hob {
    background-color: #33507A;
    width: 33%;
}


.pimg1 {
    background-image: url("hattah.JPG");
    background-size: cover;
    margin-left: 1em;
    margin-right: 1em;
    height: 800px;
    filter: saturate(50%);
    margin-top: calc(-92vh);

}

.pimg2 {
    background-image: url("trees.jpg");
    background-size: cover;
    margin-left: 1em;
    margin-right: 1em;
    height: 800px;
    filter: saturate(30%);
    z-index: -1;
}

.pimg3 {
    background-image: url("lisbon.jpeg");
    background-size: cover;
    margin-left: 1em;
    margin-right: 1em;
    height: 2000px;
    filter: saturate(30%);
}


.about h2, p {
    margin: 20px;
    padding: 5px;
}

.about h3 {
    margin-left: 20px;
    padding: 3px;
}


.skills {
    background-color: #E3B876;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    color: #F0CA84;
    margin-left: 1em;
    margin-right: 1em;
}

.skills div {
    border-left: 5px solid #F0CA84;
    padding: 10px;
}

.skills-head {
    text-align:left;
    font-size: 200%;
    font-family: ivymode, sans-serif;
    margin-left: 8%;
    margin-top: 5%;
}

.cv {
    border: 2px solid black;
    border-radius: 10%;
    margin: 20px;
    padding: 4px;
    background: black;
    color: cornsilk;
    font-weight: bold;
}