.blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: steelblue;
}


.blog-intro {
    margin: 10%;
    
}

.blog-summary {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    filter: saturate(50%);

    margin-bottom: 5%;
}

.blog-summary img {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 500px){
    .blog-summary img {
        width: 100px;
        height: 100px;
    }

    /* .blog-photo {
        width: 80%;
        height: 50%;
    } */
}

.blog-summary a:hover {
    filter: brightness(150%);
}

/* .blogp1 {
    position: relative;
    margin: 0 auto;
} */

/* .blogp1 .date {
    position: absolute;
    bottom: 40%;
    left: 25%;
} */


.blog-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10%;
    margin: 2%;
    border-bottom: 2px solid darkblue;
}

.blog-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
    font-size: 5rem;
    color: whitesmoke;
    font-family: ivymode, sans-serif;
    font-weight: 300;
    margin-bottom: 5%;
    border-radius: 10px;
}

.blog-post img {
    width: 60vw;
    height: 40vh;
}

#collapsible {
    display: none;
}

.wrap-collapsible .collapsible-content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.wrap-collapsible > input[type="checkbox"]:checked ~.collapsible-content {
    height: auto;
    overflow: visible;
}

#collapsible2 {
    display: none;
}

#collapsible3 {
    display: none;
}

#collapsible4 {
    display: none;
}

#collapsible5 {
    display: none;
}

/* .bposts-center {
    display: flex;
    flex-direction: column;
} */

#blog1photo {
    background-image: url("blog1photo.jpg");

}

#blog2photo {
    background-image: url("dragonprince.webp");
}

#blog3photo {
    background-image: url("madewithcode.png");
}

#blog4photo {
    background-image: url("adriennetacke.jpg");
}

#blog5photo {
    background-image: url("googleearth.jpg");
}