.blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: steelblue;
}


.blog-intro {
    margin: 10%;
    
}

.blog-summary {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    border-bottom: solid 2px slategrey;
}

.blog-summary img {
    width: 70%;
}

.blog-summary a:hover {
    filter: brightness(150%);
}

.blogp1 {
    position: relative;
    margin: 0 auto;
}

/* .blogp1 .date {
    position: absolute;
    bottom: 40%;
    left: 25%;
} */


.blog-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10%;
}



.blog-post img {
    width: 60vw;
}

#collapsible {
    display: none;
}

.wrap-collapsible .collapsible-content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.wrap-collapsible > input[type="checkbox"]:checked ~.collapsible-content {
    height: auto;
    overflow: visible;
}
