.blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#0F1C2C;
    color: whitesmoke;
}


.blog-intro {
    margin: 10%;
    
}

.blog-summary {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    filter: grayscale(100%); 
    margin-bottom: 5%;
}

.blog-summary img {
    width: 200px;
    height: 200px;
}

.blog-summary ul {
    display: flex;
    margin-left: 6%;
    list-style: none;
}

@media screen and (max-width: 1070px) {
    .blog-summary ul {
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 10%;
    }
    .blog-summary img {
        width: 100px;
        height: 100px;
    }
}


@media screen and (max-width: 500px){
    /* .blog-summary img {
        width: 100px;
        height: 100px;
    } */

  

    /* .blog-photo {
        width: 80%;
        height: 50%;
    } */
}

.blog-summary a:hover {
    filter: brightness(150%);
}

.blog-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10%;
    margin: 2%;
    border-left: 2px solid darkblue;
    border-top: 2px solid darkblue;
    
}

.blog-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
    font-size: 5rem;
    color: whitesmoke;
    font-family: ivymode, sans-serif;
    font-weight: 300;
    margin-bottom: 5%;
    border-radius: 10px;
}

.blog-post img {
    width: 60vw;
    height: 40vh;
}

.lbl-toggle {
    cursor: pointer;
    font-weight:bolder;
}

#collapsible {
    display: none;
}

.wrap-collapsible .collapsible-content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.wrap-collapsible > input[type="checkbox"]:checked ~.collapsible-content {
    height: auto;
    overflow: visible;
}

#collapsible2 {
    display: none;
}

#collapsible3 {
    display: none;
}

#collapsible4 {
    display: none;
}

#collapsible5 {
    display: none;
}

/* .bposts-center {
    display: flex;
    flex-direction: column;
} */

#blog1photo {
    background-image: url("images/blog1photo.jpg");
    background-size: cover;

}

#blog2photo {
    background-image: url("images/dragonprince.webp");
    background-size: cover;
}

#blog3photo {
    background-image: url("images/madewithcode.png");
    background-size: cover;
}

#blog4photo {
    background-image: url("images/adriennetacke.jpg");
    background-size: cover;
}

#blog5photo {
    background-image: url("images/pin.jpg");
    background-size: cover;
}

h2 {
    text-transform: uppercase;
}