/* Background image and alignment for page */
.main-contentc {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background: url("images/girlclose.png") no-repeat top center;
    background-size: cover;
    height: 100vh;
    
}

.form-container {
    width: 100%;
    padding: 0 20px;
}

/* want to get in touch banner */
header {
    color: #0F1C2C;
    font-weight: 800;
    font-size: 200%;
    font-family: ivymode, sans-serif;
}

/* Transparent background for form */
.contact-form {
    max-width: 550px;
    margin: 0 auto;
    background: rgb(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
}

/* align inputs into column */
.inputs {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

/* input text colour */
.input {
    color: wheat;
}

.inputs, 
.message {
    width: 48%;
    padding: 2%;
}


.inputs .input,
.message textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid wheat;
    padding: 10px;
    width: 100%;
    outline: none;
}

.message textarea {
    height: 180px;
    color: wheat;
}

/* format send button, outset border */
.button {
    background-color: #0F1F2F;
    color: wheat;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
    border-style: outset;
    text-align: center;
    cursor: pointer;
    width: 90%;
}

/* press button when hover/interactivity */
.button:hover {
    border-style: inset;
}

/* media query for mobile, change width to 100$ in column format */
@media screen and (max-width: 600px){
    .contact-form {
        flex-direction: column;
    }

    .input, .message {
        width: 100%;
    }

    header {
        font-size: 100%;
    }
}





