
.main-contentc {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background: url("images/pinkgirl.png") no-repeat top center;
    background-size: cover;
    height: 100vh;
    
}

.form-container {
    width: 100%;
    padding: 0 20px;
}

header {
    color: #9F6C65;
    font-weight: 800;
    font-size: 200%;
    font-family: ivymode, sans-serif;
}

.contact-form {
    max-width: 550px;
    margin: 0 auto;
    background: rgb(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;

}

.inputs {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input {
    color: wheat;
}

.inputs, 
.message {
    width: 48%;
    padding: 2%;
}

.inputs .input,
.message textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid wheat;
    padding: 10px;
    width: 100%;
    outline: none;
}

.message textarea {
    height: 200px;
    color: wheat;
}

.button {
    background-color: #9F6C65;
    color: wheat;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 90%;
}


@media screen and (max-width: 600px){
    .contact-form {
        flex-direction: column;
    }

    .input, .message {
        width: 100%;
    }

    header {
        font-size: 100%;
    }
}

/* .form-container {
    box-shadow: 10px 10px black;
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: blue;
}

@media only screen and (max-width: 600px){
    .form-container {
        width: 100vw;
    }
} */





