/* homepage background */
.main-content {
    background-image: url(images/vball.jpg);
    height: 100em;
   

}

/* Name/Logo */
.intro-head h1 {
    font-size: 300%;
    padding-top: 1em;
    letter-spacing: 0.05em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
    font-family: ivymode, sans-serif;
    text-transform: uppercase;
    color: whitesmoke;

}

/* elaborations */
.intro-invite {
    padding: 2em;
    margin-left: 17em;

}

/* readjust size for large screens */
@media screen and (min-width: 700px) {
    .intro-head h1 {
    font-size: 500%;
    }

.intro-head {
    padding-top: 5em;
    padding-left: 19em;
    animation-name: title;
    animation-duration: 3s;
}

.blurb {
    padding-top: 20%;
    margin-right: 16em;
    margin-left: 19em;
}
}

/* animation for homepage, drop down from top */
@keyframes title {
    from {padding-top: 0em;}
    to {padding-top: 5em;}

}

/* elaborations alignment */
.blurb p {
    margin-left: 0;  
    margin-right: 50%;
    padding-top: 30%;
}