
.main-content {
    background-image: url(images/concrete-wall-3059489.jpg);
    background-size: cover;
    filter: brightness(100%);
    /* margin-left: 5em;
    margin-right: 5em; */
    height: 80em;
   

}

.intro-head h1 {
    font-size: 300%;
    padding-top: 1em;
    letter-spacing: 0.05em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    color: whitesmoke;
    border-left: 3px solid whitesmoke;

}


.intro-invite {
    padding: 3em;
    margin-left: 16em;
    border-left: 3px solid whitesmoke;
    color: whitesmoke;
}

@media screen and (min-width: 700px) {
    .intro-head h1 {
    font-size: 500%;
    }

.intro-head {
    padding-top: 3em;
    padding-left: 15em;
    animation-name: title;
    animation-duration: 3s;

}
}

@keyframes title {
    from {padding-top: 0em;}
    to {padding-top: 5em;}

}


.blurb {
    padding-top: 3em;
    padding-left: 5em;
    margin-right: 16em;
    margin-left: 25em;
    border-left: 3px solid whitesmoke;
    color: whitesmoke;
}

.gif {
    align-self: center;
    padding: 10%;
    
    box-sizing: content-box;
   
}

.gif img {
    border: 1px solid whitesmoke;
    /* border-radius: 50%; */
    filter:saturate(40%);
    
}