/* homepage background */
/* .main-content {
    background-image: url(images/vball.jpg);
    background-size: cover;
    height: 100em;
} */

/* mobile screen width */
.main-content {
    background-image: url(images/homer.png);
    background-size: auto;
    height: 50em;
}

/* Name/Logo */
.intro-head h1 {
    font-size: 300%;
    padding-top: 1em;
    letter-spacing: 0.05em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
    font-family: ivymode, sans-serif;
    text-transform: uppercase;
    color: whitesmoke;

}

/* elaborations */
.intro-invite {
    padding: 2em; 
    /* margin-left: 10%; */
    margin-right: 30%;
    border-bottom: solid 3px whitesmoke;

}

/* elaborations alignment */
.blurb p {
    margin-left: 0;  
    margin-right: 50%;
    padding-top: 30%;
    padding-left: 2em;
}

/* readjust size for large screens */
@media screen and (min-width: 700px) {
    
    .main-content {
        background-image: url(images/vball.jpg);
        background-size: cover;
        height: 100em;
    }

    .intro-head h1 {
        font-size: 500%;
    }

    .intro-head {
        padding-top: 4em;
        padding-left: 20%;
        animation-name: title;
        animation-duration: 3s;
    }

    .intro-invite {
        padding-top: 3em; 
        margin-left: 20%;
    }
    
    .blurb {
        /* padding-top: 20%; */
        margin-right: 10em;
        margin-left: 20%;
    }
}

@media screen and (min-width: 1600px) {
    .intro-head {
        padding-left: 20%;
    }
    .blurb {
        padding-left: 20%;
    }

    .intro-invite {
        margin-left: 20%;
    }


}

/* animation for homepage, drop down from top */
@keyframes title {
    from {padding-top: 0em;}
    to {padding-top: 5em;}

}

