/* <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> */
/* <a href="https://www.freepik.com/free-photos-vectors/logo">Logo vector created by alicia_mb - www.freepik.com</a> */

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: bisque;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    background-color:snow;
    font-family: 'Raleway', sans-serif;
 
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #0F1F2F;
    padding: 0.5%;
}

nav a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;

}

nav a:link {
    color: wheat;
}

nav a:visited {
    color: wheat;
}

nav a:hover {
    background-color: thistle;
    color: #0F1F2F;
}

nav div {
    margin-left: 5%;
    border-left: solid 1px wheat;
    padding-left: 1%;
}




.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: aliceblue;
    margin: 0 auto 0 auto;
    padding: 2%;
    /* font-family: 'Playfair Display SC', serif; */
}


.name {
    /* background-color: teal; */
    font-size: 500%;
    letter-spacing: 0.05em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
    font-family: ivymode, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    margin-left: 5%;


}

@media only screen and (max-width: 500px) {
    .name {
       font-size: 50px;
       margin-left: 5%;
       }
    .page-title {
        margin-left: 5%;
        margin-right: 5%;
        
    }

}

.page-title {
    
    background-color: violet;

}


footer {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    color: #0F1F2F;
    font-family: 'Raleway', sans-serif;
}

footer img {
    width: 25pt;
    height: 25pt;
}


