
* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: bisque;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
 
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: cornflowerblue;
    padding: 1%;
}

nav a {
    text-decoration: none;
}

.main-content {
    height: 100vh;
}

footer {
    display: flex;
    background-color: blue;
    justify-content: space-between;
    padding: 1%;
    color: white;

}


