


.preamble {
    margin: 5%;
    text-align: center;
}


.portfolio-grid {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2%;
    margin: 8% 8% 8% 8%;
    
}

/* media query to change grid to 1 column for small */
@media only screen and (max-width: 700px){
    .portfolio-grid {
        grid-template-columns: 1fr;
    }

}

.p-itemp{
    /* background-color: royalblue; */

}

.p-itemw {
    background-color:skyblue;

}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: 20vw; */ 
    background-color: ghostwhite;
    box-shadow: 5px 5px;
    /* padding: 5%; */
}


.wrapper-image img {
    width: 280px;
    height: 250px;
    filter: saturate(50%);
    /* border-radius: 90%; */
    /* border: solid 2px grey; */
}

.text {
    margin: 5%;
    padding: 5%;
}

.text h1 {
    font-family: ivymode, sans-serif;
}

.text a {
    
    cursor: pointer;
    color: black;
}
