
.main-contentport {
    background-image: url(ballroom.jpg);
    background-size: cover;
}

.preamble {
    margin: 5%;
    text-align: center;
    background-color: whitesmoke;
    color: black;
}

.headpf {
    color: whitesmoke;
}


.portfolio-grid {
    
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2%;
    margin: 8% 8% 8% 8%;
    
}

/* media query to change grid to 1 column for small */
@media only screen and (max-width: 700px){
    .portfolio-grid {
        grid-template-columns: 1fr;
        height: 2000px;
    }

}


.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: 20vw; */ 
    background-color: ghostwhite;
    box-shadow: 5px 5px;
    /* padding: 5%; */
}


.wrapper-image img {
    width: 280px;
    height: 250px;
    filter: saturate(50%);

}

.text {
    margin: 5%;
    padding: 5%;
}

.text h1 {
    font-family: ivymode, sans-serif;
}

.text a {
    
    cursor: pointer;
    color: black;
}
