/* background image below head banner */
.main-contentport {
    background-image: url(images/ballroom.jpg);
    background-size: cover;
}

/* readability of preamble */
.preamble {
    margin: 5%;
    text-align: center;
    background-color: whitesmoke;
    color: black;
}

/* grid for portfolio cards, 4 columns for large viewwidth add more rows as cards added. */
.portfolio-grid {
    
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2%;
    margin: 8% 8% 8% 8%;
    
}

/* media query to change grid to 1 column for small */
@media only screen and (max-width: 700px){
    .portfolio-grid {
        grid-template-columns: 1fr;
        height: 2000px;
    }

}

/* card component for individual project */
.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: ghostwhite;
    box-shadow: 5px 5px;
 
}

/* uniform size for image in card */
.wrapper-image img {
    width: 280px;
    height: 250px;
    filter: saturate(50%);

}

.text {
    margin: 5%;
    padding: 5%;
}

/* headings in each card */
.text h2 {
    font-family: ivymode, sans-serif;
}

/* link to more information in card */
.text a {
    cursor: pointer;
    color: black;
}
